:root {
    --primary-color: #ddc3a5;
    --secondary-color: #201e20;
    --tertiary-color: #e0a06d;
}

body {
    background-color: var(--secondary-color);
}
/* HEADER / NAV BAR STYLES START */

* {
  box-sizing: border-box;  
}

header {
    background-color: var(--tertiary-color);
    background-size: cover;
    background-position: center;
    background-position: 80%;
    padding: 20px 35px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: grey;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration: none;
}





 /*  START FOR MAIN CONTENT OF INDEX PAGE */

 .nav{
    color: grey;
    font-weight: bold;
 }

 .title{
     font-weight: bolder;
 }

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 55px auto;

}

.search-bar-main {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}





.second-search {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    
}



.save-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    justify-content: space-around;
    
}

.save-button a {
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
}

.save-button a:hover {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    
}

/*  main css ends */

/* header styles end /*
/* footer styles start */

footer {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--secondary-color);
    justify-content: space-between;
  }
  
footer h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
footer a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
footer a:hover {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* end footer section */



/* header styles end /*

/* main cards */

.main-one-card,
.main-two-card{
    width: 600px;
    height: 500px;
    background-color: grey;
    border-radius: 10px;
    border-color: var(--tertiary-color);
    border-width: 2px;
}

#info-box-one,
#info-box-two{
    height: 80%;
}

.search-bar-main,
.second-search,
.save-button{
    margin: 15px;
}

/* favorite cards style */

.cards{
    margin: 10;
    display: flex;
    flex-wrap: flex;
    justify-content: space-around;
}

.favorite-card{
    width: 360px;
    height: 500px;
    background-color: grey;
    border-radius: 10px;
}

/* buttons style */
.btn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
}

.btn:hover{
    color: var(--tertiary-color);
}

.arrow {
    display: flex;
    justify-content: center;
}

.oi-arrow-circle-top{
    color: #66ff00;
}

.oi-arrow-circle-bottom{
    display: flex;
    color: red;
}

.oi:empty:before {
    display: flex;
    font-size: 45px;
}

/* coin styles */
.coin-name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.coin-ticker {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.coin-price {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}