:root {
    --primary-color: #ddc3a5;
    --secondary-color: #201e20;
    --tertiary-color: #e0a06d;
}
/* HEADER / NAV BAR STYLES START */

header {
    background-color: var(--tertiary-color);
    background-size: cover;
    background-position: center;
    background-position: 80%;
    padding: 20px 35px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* header styles end /*